################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/WinAPI
/OutputFile/bin
/WinAPI/x64/Debug
/WinAPI/x64/Release/WinAPI.tlog
/WinAPI/x64/Release
